<div class="container" mt-5>
  <h2 style="display: inline-block; margin-right: 57%; ">Partner organisation details</h2>
  <button mat-flat-button color="primary" (click)="updateDataSharingParty(dataSharingParty.id)">Edit</button>
  <button mat-flat-button color="accent" style="margin:5px;" routerLink="/data-sharing-parties">Back</button>
  <div class="card p-2">


    <div class="row" mt-5 style="margin-bottom: 5px;">
      <div class="col-3">
        <p class="text-secondary"><small>Partner organisation name</small></p>
      </div>
      <div class="col-9">
        {{dataSharingParty.name}}

      </div>
    </div>
    <div class="row" mt-5 style="margin-bottom: 5px;">
      <div class="col-3">
        <p class="text-secondary"><small>Partner organisation description</small></p>
      </div>
      <div class="col-9">
        {{dataSharingParty.description}}
      </div>
    </div>
    <div class="row" mt-5 style="margin-bottom: 5px;">
      <div class="col-3">
        <p class="text-secondary"><small>Partner organisation name</small></p>
      </div>
      <div class="col-9">
       {{dataSharingParty.url}}
      </div>
    </div>
  </div>
</div>
