<div class="container mt-5" *ngIf="dpForm && dp">
  <form [formGroup]="dpForm" (ngSubmit)="onSubmit()">
    <h2>Update Processor Details: {{ dp.name }}</h2>

    <!-- Main Card -->
    <div class="card p-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          [readonly]="dp.isSelfAsProcessor"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Website</mat-label>
        <input
          matInput
          formControlName="website"
          [readonly]="dp.isSelfAsProcessor"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <input
          matInput
          formControlName="description"
          [readonly]="dp.isSelfAsProcessor"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
        />
      </mat-form-field>
    </div>
    <br/>
    <!-- Certifications Accordion -->
    <mat-accordion class="mt-3">
      <mat-expansion-panel class="mat-elevation-z0 custom-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Edit certifications</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="p-2">
          <!-- InfoSec -->
          <h4>Information & Cyber Security standards</h4>
          <ng-container *ngFor="let cert of infoSecStandards; let i = index">
            <mat-checkbox [formControl]="getCertControl(i)">
              {{ processingCertificationStandardLabels[cert] }}
            </mat-checkbox>
          </ng-container>

          <!-- Privacy -->
          <h4 class="mt-3">Privacy standards</h4>
          <ng-container *ngFor="let cert of privacyStandards; let i = index">
            <mat-checkbox [formControl]="getCertControl(i + infoSecStandards.length)">
              {{ processingCertificationStandardLabels[cert] }}
            </mat-checkbox>
          </ng-container>

          <!-- BCDR -->
          <h4 class="mt-3">BCDR standards</h4>
          <ng-container *ngFor="let cert of bcdrStandards; let i = index">
            <mat-checkbox
              [formControl]="getCertControl(i + infoSecStandards.length + privacyStandards.length)"
            >
              {{ processingCertificationStandardLabels[cert] }}
            </mat-checkbox>
          </ng-container>

          <!-- Governance -->
          <h4 class="mt-3">Governance & Service Management standards</h4>
          <ng-container *ngFor="let cert of governanceStandards; let i = index">
            <mat-checkbox
              [formControl]="
                getCertControl(
                  i + infoSecStandards.length + privacyStandards.length + bcdrStandards.length
                )
              "
            >
              {{ processingCertificationStandardLabels[cert] }}
            </mat-checkbox>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Buttons -->
    <div class="mt-3" align="right">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        style="margin: 5px"
        [disabled]="shouldDisableSubmit()"
      >
        Submit
      </button>
      <button mat-flat-button color="accent" style="margin: 5px" routerLink="/data-processors">
        Cancel
      </button>
    </div>
  </form>
</div>
