<div class="container" mt-5>
  <h2>User details: {{ userAccount.firstName }} {{ userAccount.lastName }}</h2>
  <div class="card p-2">
    <form>

      <!-- First name (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>First name</mat-label>
        <input matInput [value]="userAccount.firstName" readonly>
      </mat-form-field>

      <!-- Last name (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Last name</mat-label>
        <input matInput [value]="userAccount.lastName" readonly>
      </mat-form-field>

      <!-- Email address (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email Address</mat-label>
        <input matInput [value]="userAccount.email" readonly>
      </mat-form-field>

      <!-- Contact number (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contact number</mat-label>
        <input matInput [value]="userAccount.contactNumber" readonly>
      </mat-form-field>

      <!-- Job title (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Job title</mat-label>
        <input matInput [value]="userAccount.jobTitle" readonly>
      </mat-form-field>

      <!-- Roles (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Role</mat-label>
        <input matInput [value]="rolesDisplay" readonly>
      </mat-form-field>

      <div align="right">
        <button mat-flat-button color="primary" (click)="updateUserAccount(userAccount.id)">Edit</button>
        <button mat-flat-button color="accent" style="margin:5px;" routerLink="/user-accounts">Back</button>
      </div>

    </form>
  </div>
</div>
