<div class="container" mt-5 *ngIf="dcd">
  <form>
    <h2>Data asset details: {{ dcd.name }}</h2>

    <!-- Main form section -->
    <div class="card p-2">
      <!-- Name (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput [value]="dcd.name" readonly />
      </mat-form-field>

      <!-- Description (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <input matInput [value]="dcd.description" readonly />
      </mat-form-field>

      <!-- Source system (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Source system</mat-label>
        <input matInput [value]="dcd.sourceSystem" readonly />
      </mat-form-field>

      <!-- Data content type (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Content type</mat-label>
        <input matInput [value]="getDataContentTypeLabel()" readonly />
      </mat-form-field>

      <!-- Owner email (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Owner email</mat-label>
        <input matInput [value]="dcd.ownerEmail" readonly />
      </mat-form-field>

      <!-- Owner name (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Owner name</mat-label>
        <input matInput [value]="dcd.ownerName" readonly />
      </mat-form-field>

      <!-- Retention period (Readonly) -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Retention period</mat-label>
        <input matInput [value]="getFormattedRetentionPeriod()" readonly />
      </mat-form-field>
    </div>

    <!-- GDPR Perspective section -->
    <div *ngIf="dcd?.perspectives?.length" class="card p-2 mt-3">
      <h3>GDPR Perspective</h3>
      <h4>Applicable to personal data only.</h4>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Lawful basis for processing</mat-label>
        <input matInput [value]="getLawfulBasisLabel()" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Special category</mat-label>
        <input matInput [value]="getSpecialCategoryLabel()" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Article 9 condition</mat-label>
        <input matInput [value]="getArticle9ConditionLabel()" readonly />
      </mat-form-field>
    </div>
    <br />

    <!-- Data Processing Activities Accordion -->
    <mat-expansion-panel class="mat-elevation-z0 custom-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="m-0">View data procesing activities</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="p-2">
        <table mat-table [dataSource]="dcd.associatedDataProcessing" class="mat-elevation-z0 w-100">

          <!-- Data Processing Activity Name Column -->
          <ng-container matColumnDef="activityName">
            <th mat-header-cell *matHeaderCellDef>Data processing activity</th>
            <td mat-cell *matCellDef="let activity">{{ activity.name }}</td>
          </ng-container>

          <!-- Data Processor Name Column -->
          <ng-container matColumnDef="dataProcessor">
            <th mat-header-cell *matHeaderCellDef>Data processor name</th>
            <td mat-cell *matCellDef="let activity">
              <a
                role="button"
                tabindex="0"
                (click)="viewDataProcessor(activity.dataProcessor.id)"
                (keydown.enter)="viewDataProcessor(activity.dataProcessor.id)"
                (keydown.space)="viewDataProcessor(activity.dataProcessor.id)"
                class="link"
              >
                {{ activity.dataProcessor?.name }}
              </a>
            </td>
          </ng-container>

          <!-- View Activity Detail Column -->
          <ng-container matColumnDef="viewAction">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let activity">
              <button
                mat-flat-button
                color="primary"
                (click)="viewDataProcessingActivity(activity.id)"
              >
                View
              </button>
            </td>
          </ng-container>

          <tr
            mat-row
            *matRowDef="let row; columns: ['activityName', 'dataProcessor', 'viewAction']"
          ></tr>

          <tr
            mat-header-row
            *matHeaderRowDef="['activityName', 'dataProcessor', 'viewAction']"
          ></tr>
        </table>

        <div *ngIf="!dcd.associatedDataProcessing?.length" class="mt-3">
          No associated data processing activities.
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Buttons section -->
    <div class="mt-3" align="right">
      <button mat-flat-button color="primary" (click)="updateDataContentDefinition(dcd.id)">
        Edit
      </button>
      <button
        mat-flat-button
        color="accent"
        style="margin: 5px"
        (click)="goBack()"
      >
        Back
      </button>
    </div>
  </form>
</div>
