<div class="container mt-5" *ngIf="processor">
  <form>
    <h2>Processor details: {{ processor.name }}</h2>

    <!-- Main Details Card -->
    <div class="card p-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput [value]="processor.name" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Website</mat-label>
        <input matInput [value]="processor.website" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <input matInput [value]="processor.description" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput [value]="processor.email" readonly />
      </mat-form-field>
    </div>
    <br />
    <!-- Certifications Accordion -->
    <mat-accordion class="mt-3">
      <mat-expansion-panel class="mat-elevation-z0 custom-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="m-0">View certifications</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="p-2">
          <!-- Information & Cyber Security standards -->
          <h4>Information & Cyber Security standards</h4>
          <mat-checkbox
            *ngFor="let cert of infoSecStandards"
            [checked]="processor.certifications.includes(cert)"
            disabled
          >
            {{ processingCertificationStandardLabels[cert] }}
          </mat-checkbox>

          <!-- Privacy standards -->
          <h4 class="mt-3">Privacy standards</h4>
          <mat-checkbox
            *ngFor="let cert of privacyStandards"
            [checked]="processor.certifications.includes(cert)"
            disabled
          >
            {{ processingCertificationStandardLabels[cert] }}
          </mat-checkbox>

          <!-- BCDR standards -->
          <h4 class="mt-3">BCDR standards</h4>
          <mat-checkbox
            *ngFor="let cert of bcdrStandards"
            [checked]="processor.certifications.includes(cert)"
            disabled
          >
            {{ processingCertificationStandardLabels[cert] }}
          </mat-checkbox>

          <!-- Governance & Service Management standards -->
          <h4 class="mt-3">Governance & Service Management standards</h4>
          <mat-checkbox
            *ngFor="let cert of governanceStandards"
            [checked]="processor.certifications.includes(cert)"
            disabled
          >
            {{ processingCertificationStandardLabels[cert] }}
          </mat-checkbox>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Data Processing Activities Accordion -->
    <mat-expansion-panel class="mat-elevation-z0 custom-expansion-panel mt-3">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="m-0">View data procesing activities</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="p-2">
        <table mat-table [dataSource]="processor.associatedDataProcessing"
          class="mat-elevation-z0 w-100">

          <!-- Data Processing Activity Name Column -->
          <ng-container matColumnDef="activityName">
            <th mat-header-cell *matHeaderCellDef>Data processing activity</th>
            <td mat-cell *matCellDef="let activity">{{ activity?.name }}</td>
          </ng-container>

          <!-- Data Asset Name Column -->
          <ng-container matColumnDef="dataAssetName">
            <th mat-header-cell *matHeaderCellDef>Data asset name</th>
            <td mat-cell *matCellDef="let activity">
              <a
                role="button"
                tabindex="0"
                (click)="viewDataContentDefinition(activity.dataContentDefinition.id)"
                (keydown.enter)="viewDataContentDefinition(activity.dataContentDefinition.id)"
                (keydown.space)="viewDataContentDefinition(activity.dataContentDefinition.id)"
                class="link"
              >
                {{ activity.dataContentDefinition?.name }}
              </a>
            </td>
          </ng-container>

          <!-- View Activity Detail Column -->
          <ng-container matColumnDef="viewAction">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let activity">
              <button
                mat-flat-button
                color="primary"
                (click)="viewDataProcessingActivity(activity.id)"
              >
                View
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="['activityName', 'dataAssetName', 'viewAction']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['activityName', 'dataAssetName', 'viewAction']"
          ></tr>
        </table>

        <div
          *ngIf="
            !processor.associatedDataProcessing || processor.associatedDataProcessing.length === 0
          "
          class="mt-3"
        >
          No associated data processing activities.
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Buttons -->
    <div class="mt-3" align="right">
      <button mat-flat-button color="primary" (click)="updateDataProcessor(processor.id)">
        Edit
      </button>
      <button mat-flat-button color="accent" style="margin: 5px" routerLink="/data-processors">
        Back
      </button>
    </div>
  </form>
</div>
